@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', consolas, sans-serif;
    font-weight: 400;
}

:root {
    font-size: 62.5%;
}

.section-heading {
    font-size: 10rem;
    font-weight: 900;
    color: #eee;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .5rem;
    text-shadow: .3rem .3rem .3rem #000;
}

@import './partials/section-01';
@import './partials/section-02';